* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 360px;
    min-height: 100vh;
    font-family: 'Apple Symbols', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
    color: #000000;
    background-color: #FDFCFA;
}

ul {
    margin: 0;
    list-style: no;
}

li {
    list-style: none;
}

img {
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header {
    background-color: #ac93c4;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
}

.nav-link {
    position: relative;
    padding: 0 12px;
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    color: #262626;
}


  .nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: .5s;
}

.nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 24px);
    }
}


  .main {
    margin-bottom: auto;
    padding: 5px 50px 5px 50px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
}

.section-education,
.section-languages {
    border-bottom: 0;
}

.section-title {    /* sections */
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Andale Mono, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    color: #ac93c4;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 30px 40px;
}

.pre {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

 .section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-title {  /* title text */
    position: relative;
    padding: 0;
    margin-bottom: 5px;
    font-family: 'Andale Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #262626;
}

.section-subtitle {  /* frontend dev */

    font-family: Andale Mono, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #000000;
}


.section-profile-photo{
    border-radius: 50%;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    list-style: none;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1.5px solid #ac93c4;
    border-radius: 50%;
    background-size: 8px 8px;
}

.section-item span {
    color:  #ac93c4;
}

.section-item a {
    color: #ac93c4;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #262626;
}

.footer {
    padding: 0px 80px;
    background-color: #FDFCFA;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: 000000;
    border-top: 5px solid #ac93c4;
    background-color: #FDFCFA;
}

.github {
    color: 000000;
    text-decoration: none;
    line-height: 45px;
}

.rss {
    width: 121px;
    height: 45px;
    color: #FDFCFA;
    background-image: url("./assets/img/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}